.article-container {
    display: grid;
    grid-template-columns: 95%;
}

.article-item {
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.article-item a img {
    height: 250px;
    padding: 10px;
}